@use 'src/styles/vars';

.currencies {
  background-color: vars.$lightColor;
  color: vars.$primaryColor;
  padding: 1rem 0;
  font-size: 1.2rem;
  overflow-y: scroll;
  height: 60%;

  /*** ScrollBar ***/

  /* Firefox */
  scrollbar-width: 10px;
  scrollbar-color: vars.$primaryColor #ebebeb;

  /* Chrome, Edge, Safari */
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #ebebeb;
  }

  &::-webkit-scrollbar-thumb {
    background: vars.$primaryColor;
  }

  /*** ScrollBar ***/

  &__header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;

    &__title {
      font-weight: bold;
    }

    &__input {
      color: vars.$primaryColor;
      padding: 0.5rem;
      border: 2px solid vars.$secondaryColor;
      border-radius: 10px;
    }
  }

  &__list {
    &__item {
      padding: 1rem;
      font-weight: 300;
      font-size: 1em;
      border-top: 1px solid vars.$secondaryColor;
      text-transform: capitalize;
      transition: background-color vars.$slowTransition;
      cursor: pointer;

      &:hover {
        background-color: vars.$secondaryColor;
        transition: background-color vars.$fastTransition;
      }
    }
  }
}

@media (max-width: 750px),
(max-height: 750px) and (orientation: portrait) {
  .currencies {
    padding: 2rem 0 1rem 0;
  }
}

@media (max-width: 370px) {
  .currencies {
    &__header {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 1rem;

      &__input {
        width: 100%;
      }
    }
  }
}
