@use 'src/styles/vars';

.result {
  background-color: vars.$lightColor;
  color: vars.$primaryColor;
  padding: 2rem 0;
  text-align: center;
  height: 20%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  justify-content: center;
  align-items: center;

  &__amount {
    font-weight: bold;
    font-size: 3rem;
  }

  &__currency {
    font-size: 2rem;
  }
}

@media (orientation: landscape) {
  .result {
    flex-direction: row;
    justify-content: flex-end;
    padding: 2rem 1rem;
    row-gap: 0;
    column-gap: 2rem;
  }
}

@media (max-height: 700px) and (orientation: portrait) {
  .result {
    &__amount {
      font-size: 2.5rem;
    }

    &__currency {
      font-size: 1.5rem;
    }
  }
}
